body {
    font-family: Arial, sans-serif;
    background-color: #191414;
    color: white;
    margin: 0;
    padding: 0;
  }
  .header {
    background-color: #373af0;
    padding: 10px 20px;
    text-align: center;
  }
  .nav {
    background-color: #000;
    padding: 10px 20px;
  }
  .nav a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
  }
  .content {
    padding: 20px;
  }
  .footer {
    background-color: #282828;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
.zoom {
  padding: 50px;
  background-color: rgba(255, 255, 255, 0);
  transition: transform .2s; /* Animation */
  width: 100px;
  height: 100px;
  margin: 1 auto;
  
}
.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
